{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'mainWindow/css/main.css' %}">
        <script src="{% static 'mainWindow/js/script.js' %}" defer></script>
        <link rel="shortcut icon" href="{% static 'mainWindow/image/dracon_logo.png' %}" />
    </head>
    <body class="new_body">

        <header class="d-flex align-items-center text-white bg-purple rounded shadow-sm main_header">
            <a href="{% url 'home' %}" class="remove_link_decoration">
                <img src="{% static 'mainWindow/image/dracon_logo.png' %}">
            </a>
            <div class="lh-1">
                <a href="{% url 'home' %}" class="remove_link_decoration">
                    <h1 class="h3 mb-0 text-white lh-1">Евгений</h1>
                </a>
                <p>Сайт визитка</p>
            </div>
            <div class="links_for_header">
                <a href="{% url 'activity' %}" class="header_links"><p>Студенческая активность</p></a>
                <a href="{% url 'biography' %}" class="header_links"><p>Биография</p></a>
                <a href="{% url 'portfolio_list' %}" class="header_links"><p>Портфолио</p></a>
            </div>
        </header>


        <main class="container main_part shadow-sm">
            {% block main_section %}
            {% endblock %}
        </main>


        <footer class="row-cols-1 row-cols-sm-2 row-cols-md-3 py-5 my-5 main_footer">
            <div class="">
                <h5>Контакты</h5>
                <div class="footer_div_img">
                    <a href="https://vk.com/id204944793"><img src="{% static 'mainWindow/image/Vk_logo.png' %}" width="60px"></a>
                    <a href="https://t.me/Kruglikeugen"><img src="{% static 'mainWindow/image/TL_logo.png' %}" width="70px"></a>
                    <a href="https://discordapp.com/users/393862844422160407"><img src="{% static 'mainWindow/image/Disc_logo.png' %}" width="70px"></a>
                </div>
            </div>
        </footer>


    </body>
</html>